<div id="<%= dom_id post %>" class="post">
  <p>
    <strong>Picture url:</strong>
    <%= post.picture_url %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= post.comment %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= post.likes %>
  </p>

</div>
